@tailwind base;
@tailwind components;
@tailwind utilities;

input::-ms-reveal,
input::-ms-clear {
        display: none;
}

.call_end_btn {
    @apply size-12 border-none outline-none rounded-full bg-red-600 text-white hover:bg-red-700 disabled:bg-red-400 disabled:cursor-not-allowed
}

.message_modal {
    @apply absolute left-1/2 top-1/2 z-[110] w-10/12 sm:w-7/12 md:w-6/12 lg:w-5/12 xl:w-[600px] -translate-x-1/2 -translate-y-1/2 space-y-8 rounded bg-white dark:bg-charcoal p-10
}

.data_loading_text {
    @apply text-center block text-charcoaltext dark:text-dawn
}

.default_transition {
    @apply transition-all duration-300 ease-linear;
}

@layer components {
  /* form */
  .form_label {
    @apply block mb-1.5 capitalize font-medium text-sm text-charcoaltext dark:text-dawn
  }

  .form_input {
    @apply bg-softgray dark:bg-charcoaltext appearance-none rounded-md relative block w-full px-3 py-2 border border-bordergray dark:border-slategray text-charcoaltext dark:text-dawn placeholder:capitalize placeholder:text-sm focus:outline-none outline-none focus:ring-cyan focus:border-cyan focus:z-10 sm:text-sm default_transition
  }

  .form_textarea {
    @apply bg-softgray dark:bg-charcoaltext h-20 resize-none appearance-none rounded-md relative block w-full px-3 py-2 border border-bordergray dark:border-slategray text-charcoaltext dark:text-dawn placeholder:capitalize placeholder:text-sm focus:outline-none outline-none focus:ring-cyan focus:border-cyan focus:z-10 sm:text-sm default_transition
  }

  .form_link {
    @apply font-medium text-purple hover:text-cyan dark:text-aurora dark:hover:text-electric default_transition
  }

  .auth_btn {
    @apply relative w-full flex justify-center py-2 px-4 border-none text-sm font-medium rounded-md text-white dark:text-midnight bg-gradient-to-r from-purple to-cyan dark:bg-gradient-to-r dark:from-electric dark:to-aurora hover:brightness-110 disabled:opacity-50 disabled:cursor-not-allowed focus:outline-none focus:border-none default_transition
  }

  /* conversations */
  .conversation {
    @apply flex items-center space-x-2 px-3 py-2.5 text-sm transition duration-300 ease-in-out cursor-pointer focus:outline-none
  }

  .conversation_bg {
    @apply bg-transparent hover:bg-[#E5E7EB] dark:hover:bg-slategray text-charcoaltext dark:text-dawn
  }

  .conversation_span {
    @apply block text-sm font-light
  }

  .conversation_active_bg {
    @apply bg-slategray/20 dark:bg-electric/80 text-charcoaltext dark:text-midnight
  }

  /* message */
  .message_body {
    @apply max-w-60 lg:max-w-sm px-4 py-2 break-words rounded-lg
  }

  .message_sender {
    @apply bg-purple/90 dark:bg-electric/90 text-white dark:text-midnight
  }

  .message_receiver {
    @apply bg-softgray dark:bg-gray-800 text-charcoaltext dark:text-dawn
  }

  .custom_scrollbar_y {
    @apply overflow-y-auto scrollbar-thin scrollbar-thumb-purple/90 dark:scrollbar-thumb-electric/90 scrollbar-track-transparent dark:scrollbar-track-charcoaltext
  }

  /* images */
  .round_image_container {
    @apply relative size-8 min-w-8 md:size-10 md:min-w-10 rounded-full
  }

  .round_image {
    @apply object-contain rounded-full
  }

  /* icons */
  .icon {
    @apply size-[18px] inline
  }

  /* borders */
  .c_border {
    @apply border-bordergray dark:border-slategray
  }
}